my_heytap.img
my_stock.img
system_ext/apex/com.android.vndk.v30.apex
my_bigball.img
my_product.img
odm/etc/fad/license.lic
odm/etc/camera/model/license.lic
odm/etc/camera/sensetime
odm/etc/camera/license_release_fdc.lic
